<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    "
    <h1>
      This is the home page.<%= 3+5+12*4-2/2 %> <%= 'hello world'.toUpperCase()
      %>
    </h1>
    <!-- javascript written in the ejs -->
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sed
      ullam necessitatibus veniam, autem, doloremque sint illum iure, aut et
      maxime fugiat molestiae modi! Numquam suscipit, voluptates quasi
      perferendis quibusdam qui natus placeat dicta pariatur enim soluta odit
      dolore assumenda.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam pariatur
      aperiam repellendus. Nam eius architecto obcaecati, non alias eveniet
      voluptatem, nihil ipsa, natus nobis deserunt? Architecto repellat delectus
      suscipit tempore.
    </p>
  </body>
</html>
